# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
python/
author*
logs/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot
*.jpg
*.JGP

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/.gitignore
.idea/CNNFace.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
author_img.jpg
author_img1.jpg
author_img10.jpg
author_img11.jpg
author_img12.jpg
author_img13.jpg
author_img14.jpg
author_img2.JPG
author_img3.jpg
author_img4.jpg
author_img5.jpg
author_img6.JPG
python/demo/Include/
python/demo/Scripts/Activate.ps1
python/demo/Scripts/activate
python/demo/Scripts/activate.bat
python/demo/Scripts/deactivate.bat
python/demo/Scripts/easy_install-3.6.exe
python/demo/Scripts/easy_install.exe
python/demo/Scripts/f2py.exe
python/demo/Scripts/freeze_graph.exe
python/demo/Scripts/markdown_py.exe
python/demo/Scripts/pip-script.py
python/demo/Scripts/pip.exe
python/demo/Scripts/pip3-script.py
python/demo/Scripts/pip3.6-script.py
python/demo/Scripts/pip3.6.exe
python/demo/Scripts/pip3.exe
python/demo/Scripts/python.exe
python/demo/Scripts/python3.dll
python/demo/Scripts/python36.dll
python/demo/Scripts/pythonw.exe
python/demo/Scripts/saved_model_cli.exe
python/demo/Scripts/sqlite3.dll
python/demo/Scripts/tcl86t.dll
python/demo/Scripts/tensorboard.exe
python/demo/Scripts/tf_upgrade_v2.exe
python/demo/Scripts/tflite_convert.exe
python/demo/Scripts/tk86t.dll
python/demo/Scripts/toco.exe
python/demo/Scripts/toco_from_protos.exe
python/demo/Scripts/vcruntime140.dll
python/demo/Scripts/wheel.exe
python/demo/pyvenv.cfg
